<nav class="navbar bg-primary">
    <div class="container navbar__inner">
        <a class="navbar-brand" href="index.html">
            <img src="../assets/images/logo.png" alt="Logo Image" width="80">
        </a>
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="#">系列鏡框</a></li>
            <li class="nav-item"><a class="nav-link" href="./store.html">門市據點</a></li>
            <li class="nav-item"><a class="nav-link" href="#">部落格</a></li>
            <li class="nav-item"><a class="nav-link" href="./faq.html">常見問題</a></li>
        </ul>
    </div>
</nav>